ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background: #fafafa;
}
.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}
.accent-color {
  color: #fd9222;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1168px;
  margin-left: 16px;
  margin-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* ============ HEADER STYLES =========== */
.page-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.text-italic {
  font-style: italic;
}
.menu-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  column-gap: 24px;
}

/* ============ /HEADER STYLES =========== */

/* ============ HERO STYLES ============== */
.section-hero {
  background: #1e1823;
  border-radius: 30px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.hero-container {
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
  color: #ffffff;
}

.hero-title {
  margin-bottom: 32px;
  max-width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero-wrapper {
  display: flex;
  align-items: center;
}
.hero-button {
  min-width: 144px;
  height: 45px;
  padding: 14px 40px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fd9222;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  margin-right: 14px;
}

.hero-button:hover,
.hero-button:focus {
  background: #fcf1e0;
  color: #fd9222;
}
.hero-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 183px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #ffffff;
}

.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.hero-scroll {
  width: 78px;
  height: 18px;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.hero-scroll:hover,
.hero-scroll:focus {
  color: #fd9222;
}
/* ============ /HERO STYLES ===================== */

/* ============ BENEFITS STYLES ================== */

.section-benefits {
  margin-top: 72px;
  margin-bottom: 50px;
  background-color: #1e1823;
  color: #ffffff;
}

.benefits-list {
  display: flex;
  column-gap: 70px;
  padding: 34px 50px;
}

.benefits-list-title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.benefits-list-item {
  width: calc((100% - 140px) / 3);
}
.benefits-list-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #ffffffb3;
}

/* ============ /BENEFITS STYLES ================== */

/* ============== Ingredients Section ============= */
.ingredients-section-title {
  max-width: 411px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}
.ingredients-text {
  max-width: 468px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
.ingredients-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.ingredients-list {
  display: flex;
  column-gap: 24px;
}
.ingredients-item {
  width: calc((100% - 72px) / 4);
  padding: 28px 32px;
  border: 1px solid #fd9222;
  border-radius: 15px;
  color: #ffffff;
}
.ingredients-item:nth-child(even) {
  background: #ffffff;
  color: #111111;
}
.ingredients-item:nth-child(4n + 1) {
  background: #fd9222;
}
.ingredients-item:nth-child(4n + 3) {
  background: #1e1823;
  border: 1px solid #1e1823;
}
.ingredients-img {
  margin-bottom: 32px;
}

/* ============== /Ingredients Section ============ */

/* ================ HOW MADE STYLES ================ */

.how-made-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.how-made-title-par {
    margin-top: 50px;
}
.how-made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.how-made-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
.how-made-wrapper {
    display: flex;
    column-gap: 20px;
}
.how-made-wrapper-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
    border-radius: 15px;
        background-color: #ffffff;
        padding: 32px;

}
.how-made-list-item:not(:last-child) {
    margin-bottom: 24px;
}

/* ================ /HOW MADE STYLES ================ */

/* ================ REVIEWS STYLES ================ */
.revievs-section{
    padding-top: 50px;
}
.revievs-list {
    display: flex;
    column-gap: 28px;
        margin-bottom: 50px;
        margin-top: 50px;
}
.revievs-list-item {
    width: calc((100% - 56px) / 3);
    
    padding: 56px 24px 24px;
        background-color: #ffffff;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
        box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
        
}

.revievs-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 20px;
}
.reviews-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.revievs-list-img{ 
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
  
}

.revievs-button {
    display: block;
    margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;

  font-weight: 600;
  font-size: 18px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
}

.revievs-button:hover,
.revievs-button:focus {
  background: #fd9222;
  color: #ffffff;
}

/* ================ /REVIEWS STYLES ================ */

/* ================ PAGE FOOTER STYLES ================ */
.page-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1e1823;
    color: #ffffff;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
    
}  
.footer-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  font-style: normal;
  margin-bottom: 14px;
}
.footer-contact-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  font-style: normal;
}

.footer-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.footer-nav-item:not(:last-child) {
    margin-bottom: 4px;}

.footer-contact-item:hover,
.footer-contact-item:focus {
  color: #fd9222;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}
.footer-bottom {
    display: flex;
}
/* ================ /PAGE FOOTER STYLES ================ */